:root{
    --white: #FFFFFF;
    --grey: #949494;
    --blue800: #242742;
    --blue700: #36384D;
    --red: #FF6155;
    --gradient-primary: linear-gradient(
        135deg,
        #ff6a3a,
        #ff527b
    );

      /* spacing scale */
  --space-100: 8px;
  --space-200: 16px;
  --space-300: 24px;
  --space-400: 32px;
  --space-500: 40px;
  --space-600: 48px;
  --space-800: 64px;
  --space-900: 72px;
  --space-1300: 104px;
    
}

body{
    margin:0;
    background-color: var(--blue700);
}
.page {
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 24px;
  }

.card{
    background-color: var(--white);
    border-radius: 36px;
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    padding:24px;
    gap:24px;
    align-items: center;
    overflow: hidden;
}
.hidden {
    display: none;
}

.input--error {
    border-color: var(--red);
    background: #ffe9e7;
  }

  .input {
    border: 1px solid #ccc;
  }

  .error{
    margin:0;
    font-size: 12px;
    color: var(--red);
    font-weight: 600;
  }

  .container {
    width: 100%;
    max-width: 904px;
  }

  .card-image img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 16px;
  }

  @media (max-width: 900px) {

    .page{
        padding: 80px;
    }
    .card {
      grid-template-columns: 1fr;
      gap: 0;
      padding: 40px;
    }
  
    .card-image {
      order: -1;
    }
  
    .card-image img {
      border-radius: 0;
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    .card-content {
      padding: 24px;
    }
  }

  .success-card {
    width: 100%;
    max-width: 504px;
  }

  @media (max-width: 600px) {
    .page {
      padding: 0;
      margin:0;
      background-color: var(--white);
      
    }

    .container {
      max-width: 100%;
     height: 100vh;    
    align-items: stretch;
    }


    .card {
      border-radius: 0;
      padding: 0;
    }

    .success-card {
      max-width: 100%;
      border-radius: 0;
    }
  }
  
  